@{
    ViewBag.Title = "Confirmação de senha esquecida";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Verifique seu e-mail para redefinir sua senha.
    </p>
</div>
	
