@{
    ViewBag.Title = "Confirmação de redefinição de senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Redefinição de senha. @Html.ActionLink("Clique aqui para logar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
